*.log
*.tsbuildinfo
.DS_Store
.direnv/
.env
.env*
.hono/
.pnpm-store/
.pre-commit-config.yaml
.vite/
.vscode/
/result*
dist/
lerna-debug.log*
logs/
node_modules/
npm-debug.log*
pnpm-debug.log*
target/

!.env.example
!.envrc
!.vscode/*.code-snippets
!.vscode/launch.json
